*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
    width: 1rem;
    
  }

*::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

*::-webkit-scrollbar-thumb {
    background-color: #065E7C;
    border-radius: 10px;

  }


:root{
    font-size: 62,5%;
    --bg-color: #000000;
    --primary-color: #092D38;
    --secondary-color: rgba(6, 22, 27, 0.5);
    --details-color: #065E7C;
    --text-detail-color: #7C7C8A;
    --red-color: #F75A68;
    --border-color: #4A808C;
}

body{
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#page-container{
    max-width: 80rem;
    margin: 11.5rem auto;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header input{
    width: 30rem;
    height: 3rem;
    background-color: #06181C;
    color: var(--text-detail-color);
    border: none;
    border-radius: .3rem;
    padding-left: 1.6rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
}

.search-section{
    display: flex;
    align-items: center;
}

header button{
    display: flex;
    background-color: var(--details-color);
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: .3rem;
    margin-left: .5rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    color: white;

    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}


table{
 
    text-align: left;
    width: 100%;
    max-height: 70rem;
    background-color: var(--primary-color);
    color: white;

   

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 160%;

    border-collapse: collapse;

    overflow-x: hidden;

    color: #E1E1E6;
    
}

th{
  
    padding: 1.5rem 4rem;
    background-color: var(--primary-color);


}

thead tr th{
    position: sticky;
}

table:first-child{
    background-color: #4A808C;
    border-radius: 1rem;
    border: 1px solid red;
    overflow: hidden;
    
}


td{
    padding: 1.5rem 4rem;

}

td a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

td span{
    font-weight: normal;
    color: #E1E1E6;
}

.user{
    margin-left: 1.5rem;
    color: white;
}

td img{
    width: 5rem;
    border-radius: 50%;
}

table tr:nth-child(odd){
    background-color: #030b0d
}

table tr:nth-child(even){
    background-color: #06181c;
}

.tbody-wrap{

    width: 80rem;

    margin: 8.5rem 0;
    max-height: 50rem;
    overflow-y: auto;
    overflow-x: visible;
    border-radius: 1rem;

}

.remove{
    color: var(--red-color);
    background: none;
    border: none;
}

.remove:hover{
    cursor: pointer;
    filter: brightness(4.1);
}

.hide{
    display: none;
}

.empty-table{
    border: 1px solid #4A808C;
}

.empty-table table{
    border-radius: 0;
    border: none;
}

.empty-img{
    border: 1px solid #4A808C;
    display: flex;
    color: white;
    font-family: 'Roboto Mono', monospace;
    background-color: #06181c;
    height: 30rem;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    font-weight: 700;
    font-size: 3rem;
    line-height: 2.5rem;
    color: #4E5455;

}
.empty-img img{
    width: 13rem;
}